openapi: 3.2.0
info:
  title: Gypsum Context Resources API
  description: '## Brand Context Management API


    Gypsum provides the messaging framework, personas, positioning, and brand context for VoyantIO integrations.'
  version: 1.0.0
  contact:
    name: VoyantIO
    url: https://voyant.io
servers:
- url: https://gypsum.voyant.io
  description: Production
- url: http://localhost:3001
  description: Local development
tags:
- name: Resources
  description: Marketing resource management
paths:
  /api/resources:
    get:
      tags:
      - Resources
      summary: List Resources
      description: Retrieve all marketing resources.
      operationId: listResources
      parameters:
      - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: List of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  resources:
                    type: array
                    items:
                      $ref: '#/components/schemas/Resource'
    post:
      tags:
      - Resources
      summary: Create Resource
      description: Create a new marketing resource.
      operationId: createResource
      parameters:
      - $ref: '#/components/parameters/userId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceCreate'
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
components:
  schemas:
    Resource:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        url:
          type: string
        description:
          type: string
        created_at:
          type: string
          format: date-time
    ResourceCreate:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
        type:
          type: string
        url:
          type: string
        description:
          type: string
  parameters:
    userId:
      name: user_id
      in: query
      required: true
      schema:
        type: string
      description: Clerk organization ID (e.g., org_abc123)
